<div class="header-load-content">
    <div class="info-header">
        <i class="fa fa-users" aria-hidden="true"></i>
        <p>Друзья</p>
    </div>
    <div class="header-group-btn">
        <a class="swap-load-content">В сети</a>
        <a class="swap-load-content" id="btn-load-all-friend">Все</a>
        <a class="btn-add-friend" id="add-friend">Добавить в друзья</a>
    </div>
</div>
<div class="main-content">
    <div class="null-content">
        <img src="../../assets/img/404-grey.svg">
        <p>Пока здесь ничего нет. Зато здесь сидит зяблик</p>
    </div>
</div>