<div class="header-load-content">
    <div class="info-header">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <p>Запросы общение</p>
    </div>
    <div class="header-group-btn">
        <a class="swap-load-content">Запросы</a>
        <a class="swap-load-content">Спам (0)</a>
    </div>
</div>
<div class="main-content">
    <div class="null-content">
        <img src="../../assets/img/404-grey.svg">
        <p>Пока здесь ничего нет. Зато здесь сидит зяблик</p>
    </div>
</div>